.bg-maroon {
    background-color: rgba(138, 35, 76, 1);
}
.text-maroon {
    color: rgba(138, 35, 76, 1);
}
.text-white {
    color: #fff;
}
.bg-gray-300 {
    background-color: #adadad;
}
.text-gray-500 {
    color: #414246;
}
.max-w-xs {
    margin: auto; 
}
.text-gray-500:hover {
    color: #e7e7f1; 
}
.text-maroon {
    color: rgba(138, 35, 76, 1);
}
.calendar {
    width: 350px; 
    max-width: 100%; 
}
.grid {
    gap: 8px; 
}



